body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}
.main {
    flex: 1;
}

h1 {
    font-size: 5rem;
    width: 60%;
}

footer {
    text-align: right;
    color: midnightblue;
    position: sticky;
    clear: both;
    bottom: 0;
}

.card {
    width: 45%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.tile-image {
    float: left;
    display: block;
    width: 300px;
    height: auto;
    margin-right: 1em;
}

@media (max-width: 680px) {
    h1 {
        width: 100%;
        font-size: 4rem;
    }

    .card {
        display: block;
        width: 100%;
    }

    .tile-image {
        width: 100%;
        float: none;
    }

    .left {
        float: none;
        margin-bottom: 5em;
    }

    .right {
        float: none;
    }

    footer {
        position: static;
    }
}
